In [ ]:
import pandas as pd
import os
PATH_DATOS = "https://raw.githubusercontent.com/AlejandroPimentel/data_tutorial/main"

peliculas = pd.read_csv(
    os.path.join(PATH_DATOS, "titles_sample.csv"), 
    names=["titulo", "fch_estreno"], skiprows=1)
actores = pd.read_csv(
    os.path.join(PATH_DATOS, "cast_sample.csv"), 
    names=["titulo", "fch_estreno", "nombre", "tipo", "personaje", "n"], 
    skiprows=1)

In [ ]:
peliculas.head()

               titulo  fch_estreno
0               Argie         1984
1            East End         2016
2  The Border Wildcat         1929
3           Jailkhana         1989
4   The Bowery Bishop         1924

In [ ]:
actores.head()

,titulo,fch_estreno,nombre,tipo,personaje,n
0,In the Land of the Head Hunters,1914,Paddy 'Malid,actor,Kenada,5.0
1,Asad wa arbaa qutat,2007,4 Cats,actor,Themselves,2.0
2,All Things Fall Apart,2011,50 Cent,actor,Deon,1.0
3,Fire with Fire (II),2012,50 Cent,actor,Lamar,5.0
4,Home of the Brave,2006,50 Cent,actor,Jamal Aiken,4.0

### Cuantas peliculas estan listadas en la tabla de peliculas?

In [ ]:
peliculas

                   titulo  fch_estreno
0                   Argie         1984
1                East End         2016
2      The Border Wildcat         1929
3               Jailkhana         1989
4       The Bowery Bishop         1924
...                   ...          ...
49995      Uthiri Pookkal         1979
49996               Colby         2016
49997       Konte Kapuram         1986
49998       Chongtian huo         2016
49999            Big City         1937

[50000 rows x 2 columns]

In [ ]:
# Resultado esperado
#> 50000

### Cuales son las dos peliculas mas viejas listadas en la tabla de peliculas?

In [ ]:
peliculas.sort_values("fch_estreno", ascending=True).head(2)

                                               titulo  fch_estreno
41477                              The Startled Lover         1898
6958   Reproduction of the Corbett and Jeffries Fight         1899

In [ ]:
# Resultado esperado
# The Startled Lover
# Reproduction of the Corbett and Jeffries Fight

### Cuantas peliculas tienen el titulo "Hamlet"?

In [ ]:
peliculas.sort_values("fch_estreno", ascending=True).head(2)

In [ ]:
# Resultado esperado
#> 7

### Cuantas peliculas se llaman "Moneyball"

In [ ]:
# Resultado esperado
#> 1

### Cuando fue hecha la primer pelicula llamada "Hamlet"

In [ ]:
# Resultado esperado
#> 1911

### Muestra todas las peliculas llamadas "Othello", de la mas antigua a la mas reciente.

In [ ]:
# Resultado esperado
#   title  year
# Othello  1918
# Othello  1965
# Othello  1989
# Othello  2006

### Cuantas peliculas fueron hechas en el año 1950

In [33]:
peliculas[peliculas["fch_estreno"]==1950].count()

titulo         222
fch_estreno    222
dtype: int64

In [ ]:
# Resultado esperado
# 222

### Cuantas peliculas fueron hechas en el año 1960

In [ ]:
# Resultado esperado
# 332

### Cuantas peliculas fueron hechas desde el año 1950 hasta el año 1959

In [37]:
peliculas[(peliculas["fch_estreno"]>=1950) & (peliculas["fch_estreno"]<=1959) ].count()

titulo         2800
fch_estreno    2800
dtype: int64

In [ ]:
# Resultado esperado
# 2800

### En que años se han estrenado peliculas llamadas "Joker"

In [43]:
peliculas[(peliculas["titulo"]=="Joker") ]["fch_estreno"]

6285     1998
38244    2000
40901    1993
41883    1991
Name: fch_estreno, dtype: int64

In [ ]:
# Resultado esperado
# year
# 1998
# 2000
# 1993
# 1991

### Cuantos roles había en la película "Inception"

In [51]:
actores[ actores['titulo']=="Inception" ].count()

titulo         7
fch_estreno    7
nombre         7
tipo           7
personaje      7
n              6
dtype: int64

In [ ]:
# Resultado esperado
# 7

### De la pelicula Inception, cuántos roles recibieron una clasificacion "n"?

In [ ]:
actores[ actores['titulo']=="Inception" ].count()

In [ ]:
# Resultado esperado
# 6

### De la pelicula Inception, cuántos roles no recibieron una clasificacion "n"?

In [ ]:
# Resultado esperado
# 1

### Muestra el cast de la pelicula "Moneyball", ordenandolo por su valor "n". Quitando los roles que no recibieron un valor "n"

In [56]:
actores[ actores['titulo']=="Moneyball" ].sort_values('n', ascending=True)

,titulo,fch_estreno,nombre,tipo,personaje,n
101391,Moneyball,2011,Brad Pitt,actor,Billy Beane,1.0
55912,Moneyball,2011,Jonah Hill,actor,Peter Brand,2.0
56547,Moneyball,2011,Philip Seymour Hoffman,actor,Art Howe,3.0
217613,Moneyball,2011,Robin (V) Wright,actress,Sharon,4.0
102772,Moneyball,2011,Chris Pratt,actor,Scott Hatteberg,5.0
12126,Moneyball,2011,Stephen (II) Bishop,actor,David Justice,6.0
33259,Moneyball,2011,Reed Diamond,actor,Mark Shapiro,NaN

In [ ]:
# Resultado esperado
#                   name        character    n
#              Brad Pitt      Billy Beane  1.0
#             Jonah Hill      Peter Brand  2.0
# Philip Seymour Hoffman         Art Howe  3.0
#       Robin (V) Wright           Sharon  4.0
#            Chris Pratt  Scott Hatteberg  5.0
#    Stephen (II) Bishop    David Justice  6.0

### Muestra el cast de la pelicula "Sleuth" de 1972, ordenandolo por su valor "n".

In [ ]:
# Resultado esperado
#               name                   character    n
#   Laurence Olivier                 Andrew Wyke  1.0
#      Michael Caine                 Milo Tindle  2.0
#     Alec Cawthorne           Inspector Doppler  3.0
# John (II) Matthews  Detective Sergeant Tarrant  4.0
# Eve (III) Channing             Marguerite Wyke  5.0
#       Teddy Martin      Police Constable Higgs  6.0

### Muestra el cast de la pelicula "Sleuth" de 2007, ordenandolo por su valor "n".

In [ ]:
#          name    character    n
# Michael Caine       Andrew  1.0
#      Jude Law         Milo  2.0
# Harold Pinter  Man on T.V.  3.0

### Cuantos roles recibieron credito en la pelicula "Hamlet" de 1921?

In [ ]:
# Resultado esperado
# 7

### Cuantos roles recibieron credito en la pelicula "Hamlet" de 1996?

In [ ]:
# 7

### Cuantos roles de personajes llamados "Hamlet" han sido listados en todos nuestros datos?

In [ ]:
# Resultado esperado
# 17

### Cuantas personas han recibido credito por actuar un personaje llamado "Ophelia"?

In [ ]:
# Resultado esperado
# 11

### Cuantas personas han actuado un personaje llamado "The Stranger"?

In [ ]:
# Resultado esperado
# 22

### Cuantos roles ha tenido "Sidney Poitier" a lo largo de su carrera?

In [ ]:
# Resultado esperado
# 7

### Cuantos roles ha tenido "Judi Dench" a lo largo de su carrera?

In [ ]:
# Resultado esperado
# 8

### Lista todos los roles de actor secundario (es decir n=2) de "Antonio Moreno" en la decada de los 1920'

### Lista todos los roles de actor principal de "Antonio Moreno" en la decada de los 1920'

### Cuantos roles habia disponibles para hombres en al decada de los 50s?

### Cuantos roles habia disponibles para mujeres en la decada de los 50s?

### Cuantos roles principales (n=1) han existido desde el inicio de nuestros datos hasta en año 1980?

### Cuantos roles no principales han existido desde el inicio de nuestros datos hasta en año 1980?

### Cuantos roles no han sido suficientemente importantes como para ser asignados una clasificacion n?